version: '2'
services:
  elasticsearch:
    build: es
    container_name: loc_es54
    volumes:
        - es-data:/usr/share/elasticsearch/data
        - ./es/config:/usr/share/elasticsearch/config
    ports:
        - 9200:9200
    expose:
        - 9300
    ulimits:
        nofile:
            soft: 65536
            hard: 65536
  kibana:
    build: kibana
    container_name: kibana54
    links:
        - elasticsearch:elasticsearch
    ports:
        - 5601:5601
    environment:
        ELASTICSEARCH_URL: "http://loc_es54:9200"
        XPACK_MONITORING_ELASTICSEARCH_URL: "http://loc_es54:9200"
        XPACK_SECURITY_ENABLED: "false"

volumes:
    es-data:
        driver: local
